PUBLIC_USE_FIREBASE_EMULATOR=true
PUBLIC_EMULATOR_HOST=localhost
PUBLIC_FIREBASE_API_KEY=mock-api-key
PUBLIC_FIREBASE_AUTH_DOMAIN=mock-drive.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=mock-drive-system
PUBLIC_FIREBASE_STORAGE_BUCKET=mock-drive-system.appspot.com
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=000000000000
PUBLIC_FIREBASE_APP_ID=1:000000000000:web:000000000000
