node_modules
.svelte-kit
build
dist
.env
.env.*
!.env.example

# Firebase
.firebase/
*-debug.log
firestore-debug.log
ui-debug.log

# OS & Editors
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

repomix-output.xml